* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 10px 5px 10px 20px;
  min-height: 100vh;
  color: #3a3a3ad2;
  margin: auto;
  background-image: linear-gradient(to right, #e2e3ec, #e2e3ec1e),
    url(./photos/bgLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Oleo Script', cursive;
  position: relative;
  z-index: -10;
  box-shadow: rgba(139, 139, 139, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 1s ease-in-out;
}

.myPhoto {
  opacity: 0.65;
  height: 65vh;
  z-index: -1;
  min-height: 550px;
  position: fixed;
  bottom: 90px;
  left: 50px;
  transition: 0.5s ease-in-out;
}


.backgroundImage {
  position: fixed;
  bottom: -50px;
  left: -50px;
  z-index: 1;
  transform: rotate(3deg);
  width: 130%;
  height: 140px;
  background-color: #ffffff;
}

/*** Header & Navigation ***/

header {
  font-size: 16px;
}

nav,
.middleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNav li {
  padding-right: 28px;
}

nav div li {
  list-style: none;
  margin-right: 3vw;
  transition: .5s ease-in-out;
}

nav div li a {
  text-decoration: none;
  color: #9e7329 ;
  font-weight: 800;
}

nav div h3 {
  color: #9e7329 ;
}

nav div li a:hover {
  color: #d3a14b;

}

.decoLine {
  width: 5px;
  height: 40px;
  background: #b9811f;
  margin-right: 5px;
  transform: rotate(30deg);
}

/*** Main ***/

main {
  visibility: hidden;
  animation-name: mainSection;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


@keyframes mainSection {
  0% {
    visibility: visible;
    opacity: 0;
    position: relative;
    top: 15px;
  }

  100% {
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0px;
  }
}

.aboutMyself {
  font-size: 35px;
  margin-top: 18vh;
  margin-bottom: 25px;
}

.drawLine{
  width: 150px;
  height: 7px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #3a3a3ad2;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 1s ease-in-out;
}

.aboutProfession {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.64px;
  margin-bottom: 25px;
  line-height: 55px;
  text-shadow: 0px 0px 1px #00000098;
}

.description {
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: justify;
  margin-bottom: 35px;
  max-width: 800px;
  text-shadow: 0px 0px 1px #00000098;

}

.getInTouch, .contact{
  width: fit-content;
  padding: 5px 30px;
  font-size: 21px;
  text-shadow: 0px 0px 1px #00000098;
  background-color:#be8c35;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: .5s ease-in-out;
}

.getInTouch:hover , .contact:hover{
  background-color: #9e7329 ;
}
.getInTouch a, .contact a{
  text-decoration: none;
  color: #fffffff5;
  transition: 1s ease-in-out;
}



/*** ThemeIcon  and social media icon***/


.themeIcon .fas {
  color: #9e7329;
  font-size: 30px;
  background-color: #6b6b6b67;
  padding: 7.5px 15px;
  margin-bottom: 3px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  text-shadow: 0px 0px 1px #000000a8;
  transition: .5s ease-in-out;
}

.themeIcon {
  position: fixed;
  right:0px;
  top: 100px;
}

.socialMediaIcon {
  position: fixed;
  right: 0px;
  top: 250px;
}

.socialMediaIcon p a {
  color: #9e7329;
  font-size: x-large;
  transition: .5s ease-in-out;
}

  .socialMediaIcon p a:hover,
.themeIcon .fas:hover {
  color: #20203C;
  cursor: pointer;
}

.socialMediaIcon p {
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #6b6b6b67;

  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
}


/*** footer ***/

footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: footer;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: 2s ease-in-out;
  z-index: 10;
}

.sub-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div .fab p {
  font-family: 'Oleo Script', cursive;
  padding-left: 2.5px;
  font-weight: 400;
}

footer div .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: .25s ease-in-out;
  font-weight: bold;
  font-size: large;
  color: #9e7329;
}

footer div .fab:hover {
  color: #3a3a3ad2;


}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}


/***** Media query *****/

@media screen and (max-width:768px) {

  body {
    padding: 10px 15px;
  }

  .middleSection {
    display: none;
  }

  .myPhoto {
    opacity: .65;
    height: 40vh;
    min-height: 350px;
    position: fixed;
    bottom: 55px;
    transition: 0.5s ease-in-out;
  }

  .contact {
    padding: 5px 15px;
    font-size: 15px;
    position: relative;
    left: 12px;
  }

  .getInTouch {
    padding: 5px 15px;
    font-size: 15px;
  }

   .aboutMyself {
    font-size: 25px;
    margin-top:7vh;
    margin-bottom: 15px;
  } 

  .aboutProfession {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.64px;
    margin-bottom: 15px;
  }

  .drawLine{
    height: 5px;
    margin-bottom: 15px;
  }


  .description {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.2px;
    text-align: justify;
    width: 90%;
    margin-bottom: 15px;
  }

  .themeIcon .fas {
    font-size: 20px;
  }

  .socialMediaIcon p a {
    font-size: 17px;

  }

  .backgroundImage {
    height: 110px;
  }
  

  footer p {
    display: none;
  }

  footer {
  height: 55px;
}


}