* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 10px 5px 10px 20px;
  background-image: linear-gradient(to right, #e2e3ec, #e2e3ec1e),
    url(../photos/body.png);

  color: #212e3be5;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Oleo Script", cursive;
  z-index: -1;
  box-shadow: rgba(139, 139, 139, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: .5s ease-in-out;
}


.backgroundImage {
  position: fixed;
  bottom: -75px;
  left: -50px;
  z-index: 1;
  transform: rotate(2deg);
  width: 130%;
  height: 140px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ------hamburger menu ---------*/

.menu-toggle {
  position: absolute;
  right: 0.75rem;
  transform: translate(0, -50%);
  height: 36px;
  width: 35px;
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #b9811f;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}
.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

/*** Header & Navigation ***/

header {
  font-size: 16px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav,
.middleSectionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggelNav {
  display: none;
  width: 150px;
  height: 335px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  position: fixed;
  bottom: 110px;
  right: -300px;
  background-color: rgba(255, 255, 255, 0.952);
  animation-name: toggelNavAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subToggelNav {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.subToggelNav li {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 2px;
}

.aboutNav{
  font-size: 40px;
}

@keyframes toggelNavAnimation {
  from {
    opacity: 0;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNav li {
  padding-right: 28px;
}

nav div li {
  list-style: none;
  margin-right: 3vw;
  transition: 0.5s ease-in-out;
}

nav div li a {
  text-decoration: none;
  color: #212e3be0;
  font-weight: 800;
}

nav div h3 {
  color: #212e3be0;
}

nav div li a:hover {
  color: #c48822;
}

.navDecoLine {
  width: 5px;
  height: 40px;
  background: #b9811f;
  margin-right: 6px;
  border-radius: 4px;
  transform: rotate(30deg);
}



/*** Main ***/

main {
  width: 100%;
  min-height: 900px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContact{
  width: 80%;
  min-width: 768px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(12, 12, 12, 0.425) 0px 3px 6px, rgba(131, 131, 131, 0.23) 0px 3px 6px;
  background: linear-gradient(to right, #7c7c7cc0 0%, #8b8b8bc7 100%);
}

.subMainContactLeft{
  background: linear-gradient(110.3deg, rgb(226, 151, 80) 8.7%, rgb(214, 126, 106) 47.5%, rgba(182, 81, 96, 0.726) 89.1%);
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  min-width: 380px;
  color: white;
  padding: 20px;
  border-radius: 20px;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.subMainContactRight{
  width: 50%;
  min-width: 350px;
  height: 90%;
  padding: 20px;
  background: #ffffffda;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}

.form-contact{
  width: 100%;
  height: 100%;
}

.form-name, .form-email, .form-message{
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-contact input{
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  font-size: 22px;
  background: transparent;

}

.form-contact textarea{
  width: 100%;
  height: 180px;
  border: none;
  outline: none;
  font-size: 20px;
  background: transparent;
}

.form-submitButton{
  background: linear-gradient(to right, rgb(121, 204, 72), rgb(51, 139, 147));
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
  transition: .5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.form-submitButton input{
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.form-submitButton input:hover{
  color: black;
}


.description{
  width: 60%;
  font-size: 20px;
  margin-bottom: 10px;
}


.subMainContactLeft p {
  font-size: 20px;
  padding: 5px;
}

.subMainContactLeft p i{
 font-size: 25px;
 padding-right: 8px;
}

.subMainContactLeft p .pinEmoji {

  font-size: 25px;
 }

 .roundedBG{
  width: 150px;
  height: 150px;
  background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  right: -30px;
  z-index: -1;
 }


 .roundedBG2{
  width: 50px;
  height: 50px;
  background: rgba(93, 197, 98, 0.863);
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  right: 180px;
  z-index: -1;
 }

 .roundedBG3{
  width: 30px;
  height: 30px;
  background: rgba(212, 195, 98, 0.801);
  border-radius: 50%;
  position: absolute;
  bottom: 360px;
  right: 280px;
  z-index: -1;
 }

 .roundedBG4{
  width: 45px;
  height: 45px;
  background: rgba(27, 104, 128, 0.541);
  border-radius: 50%;
  position: absolute;
  bottom: 480px;
  right: 80px;
  z-index: -1;
 }

 .roundedBG5{
  width: 55px;
  height: 55px;
  background: rgba(222, 173, 245, 0.541);
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 80px;
  z-index: -1;
 }


 .roundedBG6{
  width: 25px;
  height: 25px;
  background: rgba(185, 110, 39, 0.767);
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: -1;
 }


.contactText {
  display: flex;
  align-items: center;
}

.contactText .decoLine {
  width: 50px;
  height: 5px;
  border-radius: 2px;
  margin-right: 10px;
  background: #ffffff;
  transition: 0.5s ease-in-out;
}

.contactText h4 {
  font-size: 30px;
  font-weight: 500;
}

.workedOnText {
  margin: 30px 0px;
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
}



/*** ThemeIcon  and social media icon***/

.themeIcon .fas {
  color: #c4851a;
  font-size: 30px;
  background-color: #6b6b6b67;
  padding: 7.5px 15px;
  margin-bottom: 3px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;

}

.themeIcon {
  position: fixed;
  right: 0px;
  top: 100px;
  
}

.socialMediaIcon {
  position: fixed;
  right: 0px;
  top: 250px;
}

.socialMediaIcon p a {
  color: #c4851a;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}

.socialMediaIcon p a:hover,
.themeIcon .fas:hover {
  color: #20203c;
  cursor: pointer;
}

.socialMediaIcon p {
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #6b6b6b67;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;

}

/*** footer ***/

footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: footer;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: 2s ease-in-out;
  z-index: 10;
}

.sub-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div .fab p {
  font-family: "Oleo Script", cursive;
  padding-left: 2.5px;
  font-weight: 400;
}

footer div .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
  font-weight: bold;
  font-size: large;
  color: #212e3be0;
}

footer div .fab:hover {
  color: #c48822;
}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

/***** Media query *****/

@media screen and (max-width: 768px) {
  body {
    padding: 10px 15px;
  }
  .toggelNav {
    width: 120px;
    bottom: 95px;
  }

  .toggelNav li a {
    letter-spacing: normal;
    font-size: large;
  }

 .toggelNav .contactNav{
    font-size: 25px;
  }

  .middleSectionNav {
    display: none;
  }

  main {
    width: 100%;
    min-height: 900px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainContact{
    width: 100%;
    min-width: 300px;
    height: fit-content;
    padding: 20px 10px;
    flex-direction: column;
  }
  
  .subMainContactLeft{
    width: 100%;
    min-width: 300px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  
  .subMainContactRight{
    margin-top: 10px;
    width: 100%;
    min-width: 300px;
    padding: 10px;
    background: #ffffffda;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  
  }
  

  .form-name, .form-email, .form-message{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .form-contact input{
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
  
  }
  
  .form-contact textarea{
    width: 100%;
    height: 140px;
    border: none;
    outline: none;
    font-size: 17px;
    background: transparent;
  }
  
  .form-submitButton{
    width: 130px;
    padding:7px 12px;
    margin-top: 5px;
  }
  
  
  .form-submitButton input{
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  
  .description{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .subMainContactLeft p {
    font-size: 18px;
    padding: 5px;
  }
  
  .subMainContactLeft p i{
   font-size: 20px;
   padding-right: 8px;
  }
  
  .subMainContactLeft p .pinEmoji {
    font-size: 20px;
   }
  
   .roundedBG{
    width: 100px;
    height: 100px;
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: -1;
   }
  
  .contactText {
    display: flex;
    align-items: center;
  }
  
  .contactText .decoLine {
    width: 40px;
    height: 4px;
  }
  
  .contactText h4 {
    font-size: 25px;
    font-weight: 500;
  }
  
  .workedOnText {
    margin: 10px 0px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 500;
  }

  .themeIcon .fas {
    font-size: 20px;
  }

  .socialMediaIcon p a {
    font-size: 17px;
  }

  .backgroundImage {
    height: 125px;
  }

  footer p {
    display: none;
  }

  footer {
    height: 55px;
  }
}
