* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 10px 5px 10px 20px;
  background-image: linear-gradient(to right, #e2e3ec, #eeeeee4d),
    url(../photos/body.png);

  color: #212e3be5;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Oleo Script", cursive;
  z-index: -1;
  box-shadow: rgba(139, 139, 139, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: .5s ease-in-out;
}


.backgroundImage {
  position: fixed;
  bottom: -50px;
  left: -50px;
  z-index: 1;
  transform: rotate(3deg);
  width: 130%;
  height: 140px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ------hamburger menu ---------*/

.menu-toggle {
  position: absolute;
  right: 0.75rem;
  transform: translate(0, -50%);
  height: 36px;
  width: 35px;
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #b9811f;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}
.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

/*** Header & Navigation ***/

header {
  font-size: 16px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav,
.middleSectionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggelNav {
  display: none;
  width: 150px;
  height: 335px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  position: fixed;
  bottom: 110px;
  right: -300px;
  background-color: rgba(255, 255, 255, 0.952);
  animation-name: toggelNavAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subToggelNav {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.subToggelNav li {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 2px;
}

.aboutNav{
  font-size: 40px;
}

@keyframes toggelNavAnimation {
  from {
    opacity: 0;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNav li {
  padding-right: 28px;
}

nav div li {
  list-style: none;
  margin-right: 3vw;
  transition: 0.5s ease-in-out;
}

nav div li a {
  text-decoration: none;
  color: #212e3be0;
  font-weight: 800;
}

nav div h3 {
  color: #212e3be0;
}

nav div li a:hover {
  color: #c48822;
}

.navDecoLine {
  width: 5px;
  height: 40px;
  background: #b9811f;
  margin-right: 6px;
  border-radius: 4px;
  transform: rotate(30deg);
}

.myCV {
  width: fit-content;
  padding: 5px 30px;
  font-size: 21px;
  text-shadow: 0px 0px 1px #00000098;
  background-color: #be8c35;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.5s ease-in-out;
}

.myCV:hover {
  background-color: #9e7329;
}
.myCV a {
  text-decoration: none;
  color: #fffffff5;
  transition: 1s ease-in-out;
}

/*** Main ***/

.myPhoto {
  opacity: 0.85;
  height: 65vh;
  z-index: 1;
  min-height: 550px;
  position: fixed;
  bottom: 90px;
  left: 100px;
  transition: 0.5s ease-in-out;
}


.aboutMySelf{
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMySelf .leftMain{
  width: 40vw;
}

.aboutMySelf .rightMain{
  width: 45%;
  padding: 20px;
  border-radius: 20px;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.911);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutMySelf .rightMain h3{ 
font-size: 30px;
margin-bottom: 15px;
}

.aboutMySelf .rightMain p{ 
  font-size: 17px;
  word-spacing: 2px;
  text-align: justify;
  margin-bottom: 15px;
  }



/*** ThemeIcon  and social media icon***/

.themeIcon .fas {
  color: #c4851a;
  font-size: 30px;
  background-color: #6b6b6b67;
  padding: 7.5px 15px;
  margin-bottom: 3px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;

}

.themeIcon {
  position: fixed;
  right: 0px;
  top: 100px;
  
}

.socialMediaIcon {
  position: fixed;
  right: 0px;
  top: 250px;
}

.socialMediaIcon p a {
  color: #c4851a;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}

.socialMediaIcon p a:hover,
.themeIcon .fas:hover {
  color: #20203c;
  cursor: pointer;
}

.socialMediaIcon p {
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #6b6b6b67;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;

}

/*** footer ***/

footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: footer;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: 2s ease-in-out;
  z-index: 10;
}

.sub-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div .fab p {
  font-family: "Oleo Script", cursive;
  padding-left: 2.5px;
  font-weight: 400;
}

footer div .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
  font-weight: bold;
  font-size: large;
  color: #212e3be0;
}

footer div .fab:hover {
  color: #c48822;
}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

/***** Media query *****/

@media screen and (max-width: 768px) {
  body {
    padding: 10px 15px;
  }
  .toggelNav {
    width: 120px;
    bottom: 95px;
  }

  .toggelNav li a {
    letter-spacing: normal;
    font-size: large;
  }

 .toggelNav .aboutNav{
    font-size: 25px;
  }

  

  .middleSectionNav {
    display: none;
  }

 .aboutMySelf{
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
 }

 .aboutMySelf .rightMain{
  width: 100%;
}

.aboutMySelf .leftMain{
  width: 0px;
}

.aboutMySelf .rightMain h3{ 
  font-size: 20px;
  margin-bottom: 10px;
  }
  
  .aboutMySelf .rightMain p{ 
    font-size: 15px;
    word-spacing: 1px;
    text-align: justify;
    margin-bottom: 15px;
    }
  
  .myPhoto {
    opacity: 0.7;
    height: 35vh;
    min-height: 300px;
    position: fixed;
    bottom: 55px;
    left: 20px;
    transition: 0.5s ease-in-out;
  }

  .myCV {
    padding: 5px 15px;
    font-size: 15px;
  }


  .themeIcon .fas {
    font-size: 20px;
  }

  .socialMediaIcon p a {
    font-size: 17px;
  }

  .backgroundImage {
    height: 110px;
  }

  footer p {
    display: none;
  }

  footer {
    height: 55px;
  }
}
