* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffffffe7, #f1f0f0e3),
    url(../photos/body.png);
  color: #142d4c;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Oleo Script", cursive;
  z-index: -1;
  box-shadow: rgba(139, 139, 139, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.5s ease-in-out;
}

.backgroundImage {
  position: fixed;
  bottom: -80px;
  left: -50px;
  z-index: 1;
  transform: rotate(2deg);
  width: 130%;
  height: 140px;
  background: url(../photos/pngegg.png), rgb(233, 233, 233);
  background-position:95% 88%;
  background-size: 200;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ------hamburger menu ---------*/

.menu-toggle {
  position: absolute;
  right: 0.75rem;
  transform: translate(0, -50%);
  height: 36px;
  width: 35px;
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: #b9811f;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}
.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

/*** Header & Navigation ***/

header {
  font-size: 16px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.middleSectionNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggelNav {
  display: none;
  width: 150px;
  height: 335px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  position: fixed;
  bottom: 110px;
  right: -300px;
  background-color: rgba(255, 255, 255, 0.952);
  animation-name: toggelNavAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.subToggelNav {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.subToggelNav li {
  margin-bottom: 20px;
  font-size: 25px;
  letter-spacing: 2px;
}



@keyframes toggelNavAnimation {
  from {
    opacity: 0;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.leftSideNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.leftSideNav h3 {
  font-size: 20px;
  position: relative;
  top: 5px;
}

nav div li {
  list-style: none;
  margin-right: 3vw;
  transition: 0.5s ease-in-out;
}

.middleSectionNav li a {
  text-decoration: none;
  color: #212e3be0;
  font-weight: 800;
}

.subToggelNav li a {
  text-decoration: none;
  color: #212e3be0;
  font-weight: 800;
}


nav div h3 {
  color: #212e3be0;
}

nav div li a:hover {
  color: #c48822;
}

.workNav {
  font-size: 40px;
}

.navDecoLine {
  width: 5px;
  height: 40px;
  background: #b9811f;
  margin-right: 6px;
  border-radius: 4px;
  transform: rotate(30deg);
}

/*** Main ***/

main {
  padding: 100px 50px;
}

.portfolioText {
  display: flex;
  align-items: center;
}

.portfolioText .decoLine {
  width: 50px;
  height: 5px;
  border-radius: 2px;
  margin-right: 10px;
  background: #142d4c;
  transition: 0.5s ease-in-out;
}

.portfolioText h4 {
  font-size: 30px;
  font-weight: 500;
}

.workedOnText {
  margin: 30px 0px;
  font-size: 55px;
  line-height: 60px;
  font-weight: 500;
}

.projects {
  margin-bottom: 200px;
  width: 100%;
  min-width: 800px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(90, 92, 106, 0.295) 0%,
    rgba(32, 45, 58, 0) 81.3%
  );
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.leftSideOfProjects {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.roundedBG{
  width: 150px;
  height: 150px;
  background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: -50px;
  z-index: -1;
 }


 .roundedBG2{
  width: 50px;
  height: 50px;
  background: rgba(93, 197, 98, 0.863);
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  right: 180px;
  z-index: -1;
 }

 .roundedBG3{
  width: 30px;
  height: 30px;
  background: rgba(212, 195, 98, 0.801);
  border-radius: 50%;
  position: absolute;
  bottom: 360px;
  right: 280px;
  z-index: -1;
 }

 .roundedBG4{
  width: 45px;
  height: 45px;
  background: rgba(27, 104, 128, 0.541);
  border-radius: 50%;
  position: absolute;
  bottom: 480px;
  right: 80px;
  z-index: -1;
 }

 .roundedBG5{
  width: 55px;
  height: 55px;
  background: rgba(222, 173, 245, 0.541);
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 80px;
  z-index: -1;
 }


 .roundedBG6{
  width: 25px;
  height: 25px;
  background: rgba(185, 110, 39, 0.767);
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: -1;
 }


.subLeftSideProjects {
  padding-left: 50px;
}

.rightSideOfProjects {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projectDescription {
  width: 90%;
  color: #505050;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.45px;
  line-height: 20px;
  font-weight: lighter;
  z-index: 1;
}

.usedTechnology {
  display: flex;
  margin-bottom: 20px;
  color: #b9811f;
}

.usedTechnology li {
  list-style: none;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 16px;
  font-weight: lighter;
}

.projectLink a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  color: #20203c;
  transition: 0.5s ease-in-out;
}

.featuredProjects {
  font-size: 23px;
}

.projectTitle {
  font-size: 45px;
  margin-bottom: 10px;
}

.carousel {
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

.carousel img {
  border-radius: 10px;
}
.carousel a span {
  width: 40px;
  height: 25px;
  border-radius: 5px;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.473);
}

.carousel li {
  background-color: black;
}

/*** ThemeIcon  and social media icon***/

.themeIcon .fas {
  color: #c4851a;
  font-size: 30px;
  background-color: #6b6b6b67;
  padding: 7.5px 15px;
  margin-bottom: 3px;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
}

.themeIcon {
  position: fixed;
  right: 0px;
  top: 100px;
}

.socialMediaIcon {
  position: fixed;
  right: 0px;
  top: 250px;
}

.socialMediaIcon p a {
  color: #c4851a;
  font-size: x-large;
  transition: 0.5s ease-in-out;
}

.socialMediaIcon p a:hover,
.themeIcon .fas:hover {
  color: #20203c;
  cursor: pointer;
}

.socialMediaIcon p {
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #6b6b6b67;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
}

/*** footer ***/

footer {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: footer;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: 2s ease-in-out;
  z-index: 10;
}

.sub-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div .fab p {
  font-family: "Oleo Script", cursive;
  position: relative;
  top: 7px;
  padding-left: 2.5px;
  font-weight: 400;
}

footer div .fab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: 0.25s ease-in-out;
  font-weight: bold;
  font-size: large;
  color: #212e3be0;
}

footer div .fab:hover {
  color: #c48822;
}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

/***** Media query *****/

@media screen and (max-width: 768px) {
  body {
    padding: 10px 15px;
  }

  .backgroundImage {
    bottom: -60px;
  }
  .toggelNav {
    width: 120px;
    bottom: 95px;
  }

  .toggelNav li a {
    letter-spacing: normal;
    font-size: large;
  }

  .subToggelNav .workNav {
    font-size: 25px;
  }

  .middleSectionNav {
    display: none;
  }

  .themeIcon .fas {
    font-size: 20px;
  }

  .socialMediaIcon p a {
    font-size: 17px;
  }

  .backgroundImage {
    height: 110px;
  }

  main {
    padding: 70px 10px 10px 10px;
  }

  .portfolioText h4{
    font-size: 25px;
  }

  .workedOnText {
    margin: 10px 0px 20px 0px;
    font-size: 35px;
    line-height: 35px;
  }

  .projects {
    min-width: 300px;
    height: fit-content;
    background-color: none;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .leftSideOfProjects {
    width: 100%;
    margin: 20px 0px;
  }

  .roundedBG{
    width: 100px;
    height: 100px;
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: 0px;
    z-index: -1;
   }


  .featuredProjects {
    font-size: 20px;
  }

  .projectTitle {
    font-size: 30px;
  }

  .usedTechnology {
    display: flex;
    margin-bottom: 5px;
  }

  .usedTechnology li {
    margin-right: 8px;
    font-size: 15px;
  }

  .projectDescription {
    width: 100%;
    margin-bottom: 10px;
    letter-spacing: normal;
  }

  .subLeftSideProjects {
    padding: 10px;
  }

  .rightSideOfProjects {
    width: 100%;
  }

  .carousel {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
  }

  .carousel img {
    border-radius: 10px;
  }
  .carousel a span {
    width: 40px;
    height: 25px;
    border-radius: 5px;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.473);
  }

  .carousel li {
    background-color: black;
  }

  footer p {
    display: none;
  }

  footer {
    height: 55px;
  }
}
